{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class=" text-center">All Songs Favorited </h2>
</div>
    <div class="row text-center">
 
        {% for lyric in lyrics %} 
       
         <div class="card" style="width: 18rem;">
            <h5 class="card-header"> {{ username | capitalize }}'s Recent Search </h5>
                <div class="card-body">
                    <h6 class="card-title text-center">
                        {{ lyric.song }} 
                    </h6> 
                    <h6 class="card-text text-center">  
                        By {{ lyric.artist}} </br>
                    <a href="/lyrics/{{ lyric._id }}" class="btn btn-light">View Full Lyrics</a> 
                    </h6>
                </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
