{% layout "layout.liquid" %}
{% block content %}

    <div class="text-center">
     

<div class="bg">
    <p class="py-5 text-center">
            <h1 class="text-center">Welcome To Lyrical Fun!</h1></br></br>
            <h4 class="text-center"> Look Up Your Favorite Songs to Learn All The Lyrics for your next Karaoke! </h4></br>
</br>
    <div class="container-sm"> 
    <h6 class="text-center"> Click Here to begin your search and find the song you can't stop thinking about!</h6>
    </div>
</br>
        <div class="text-center">
            <a href="/lyrics/new" class="btn btn-dark text-center">Search Away!</a>
        </div>
    </p>
</div>
{% endblock %}
